In [28]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

user = 'postgres'
password = '1711'
host = 'localhost'
port = '5432'
database = 'Full_Data'
schema = 'us_stock'
table = 'nasdaq100'
conn = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'                                           
engine = create_engine(conn)

query = f"SELECT * FROM {schema}.{table}"
df = pd.read_sql(query, engine)
df['date'] = pd.to_datetime(df['date']).dt.date
df.set_index('date', inplace=True)
df.head()

,open,high,low,close,adjusted_close,volume,ticker
date,,,,,,,
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.844981,535796800,AAPL
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.773741,512377600,AAPL
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.785063,778321600,AAPL
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.717125,767972800,AAPL
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.751094,460734400,AAPL

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 501350 entries, 2000-01-03 to 2024-07-31
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   open            501350 non-null  float64
 1   high            501350 non-null  float64
 2   low             501350 non-null  float64
 3   close           501350 non-null  float64
 4   adjusted_close  501350 non-null  float64
 5   volume          501350 non-null  int64
 6   ticker          501350 non-null  object
dtypes: float64(5), int64(1), object(1)
memory usage: 30.6+ MB

In [30]:
metrics = ['open', 'high', 'low', 'close', 'adjusted_close', 'volume']
matrices = {metric: df.pivot_table(index=df.index, columns='ticker', values=metric) for metric in metrics}

open_matrix = matrices['open'].fillna(0)
high_matrix = matrices['high'].fillna(0)
low_matrix = matrices['low'].fillna(0)
close_matrix = matrices['close'].fillna(0)
adjusted_close_matrix = matrices['adjusted_close'].fillna(0)
volume_matrix = matrices['volume'].fillna(0)

In [34]:
open_matrix.to_csv('open.csv')
high_matrix.to_csv('high.csv')
low_matrix.to_csv('low.csv')
close_matrix.to_csv('close.csv')
adjusted_close_matrix.to_csv('adjusted_close.csv')
volume_matrix.to_csv('volume.csv')